/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Canvas */
canvas {
  display: block;
  cursor: grab;
  transition: transform 0.3s ease;
}

/* Left Panel (Side Panel) */
.side-panel {
  position: fixed;
  top: 0;
  left: 0px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  transition: left 0.3s ease;
}

/* .side-panel input, */
.side-panel button,
.side-panel label {
  display: block;
  margin: 10px 0;
  width: 100%;
}

/* Burger Menu Icon */
.burger-icon {
  background-color: transparent;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* z-index: 1; */
}

.burger-icon .bar {
  width: 20px;
  height: 3px;
  background-color: red;
  border-radius: 2px;
}

/* Burger Menu Icon */
#burgerIconForCameraListPanel {
  background-color: transparent;
  position: fixed;
  top: 20px;
  left: auto !important;
  right: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* z-index: 1; */
}

/* Right Panel (State Panel) */
#statePanel {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 250px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

#statePanel h3 {
  margin-top: 0;
  font-size: 16px;
}

#statePanel p {
  margin: 5px 0;
}

/* Hidden Side Panel */
.side-panel.hidden {
  left: -300px;
}

/* Close Button for Side Panel */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 5px;
  transition: color 0.3s;
}

.close-btn:hover {
  color: red;
}

/* Align checkbox and label on the same line */
label {
  display: inline-flex;
  align-items: center;  /* Vertically center the checkbox and label text */
  gap: 10px;  /* Space between checkbox and label text */
  cursor: pointer;
}

label > input {
  display: inline-flex !important;
  width: 20px !important;
}

/* Close Button for Canvas State Panel */
#statePanel .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 5px;
  transition: color 0.3s;
}

#statePanel .close-btn:hover {
  color: red;
}

#statePanel.hidden {
  display: none;
}

#cameraListPanel {
  position: fixed;
  top: 0;
  right: 0px;
  left: auto !important;
  width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  transition: right 0.3s ease;
  padding-top: 40px;
}

#cameraListPanel.hidden {
  right: -450px !important;
}